{% extends "catches/base/base.html" %}
{% block title %}Plan{% endblock %}
<!-- This is the main plan page. -->
{% load tz %}
{% block content %}
 
<div class="container">
	<div class="row"> <!-- Title Row-->
		<div class="col-md-12">
			<table class="table table-striped table-hover">
				<thead>
				  <tr>
					<th scope="col">Fly name</th>
					<th scope="col">Log</th>
					<th scope="col">Hatch</th>
					<th scope="col">Chart</th>
					<th scope="col">Total</th>
				  </tr>
				</thead>
				<tbody>
					{% for index, row in df.iterrows %}
				  <tr>
						<th scope="row">{{ row.name }} </th>
						<td>{{ row.log_total }}</th>
						<td>{{ row.hatch_total }}</th>
						<td>{{ row.chart }}</th>
						<td>{{ row.final_total }}</th>
				  </tr>
				  {% endfor %} 
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock content %}

