{% extends "catches/base/base.html" %}
{% block title %}Article:{{ article.name }}{% endblock %}

{% block content %}
  
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card border-0 bg-transparent">
				<h5 class="card-header">
					{{ article.name | title }}
				</h5>
				<div class="card-body">
					{% if article.notes %}
						<p>{{ article.notes|safe }}</p>
					{% endif %}
					{% if article.file %}
						<p>
							<a href = /media/{{ article.file }} download>{{ article.name | title }}</a>
						</p>
					{% endif %}
				</div>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-3"> 
							Author: {{ article.author|title}}
						</div>
                        <div class="col-md-3">
							Tags: <b>{{ article.tag_list }}</b>
						</div>
                        <div class="col-md-3">
                            {{ article.date_added }}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'article_update' article.id %}" type="submit" >edit</a>
                            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'article_delete' article.id %}" type="submit" >delete</a>
							<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'article_create' %}" type="submit" >new</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>
{% endblock content %}
