{% extends "catches/base/base.html" %}
{% block title %}Article:{{ article.name }}{% endblock %}

{% block content %}

<div class="container">   <!-- Message -->
	<div class="row">
	  <div class="col-md-12">
		{% if messages  %}
		  <ul class="messages">
			{% for message in messages %}
			  <div class="alert alert-info" role="alert">
				{{ message }}
			  </div>
			{% endfor %}
		  </ul>
		{% endif %}
	  </div>
	</div>
  </div><!-- Message -->
  
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card">
				<h5 class="card-header">
					{{ article.name | title }}
				</h5>
				<div class="card-body">
					{% if article.notes %}
						<p>{{ article.notes|safe }}</p>
					{% endif %}
					{% if article.file %}
						<p>{{ article.file }}</p>
					{% endif %}
				</div>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-3"> 
							Author: {{ article.author|title}}
						</div>
                        <div class="col-md-3">
							Tags: <b>{{ article.tag_list }}</b>
						</div>
                        <div class="col-md-3">
                            {{ article.date_added }}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'article_update' article.id %}" type="submit" >edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'article_delete' article.id %}" type="submit" >delete</a>
							<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'article_create' %}" type="submit" >new</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>
{% endblock content %}
