{% extends "catches/base/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h1>All the bugs</h1> 
    </div>
    <div class="col-md-4 text-end">
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'fly_type_list' %}">Fly types</a>
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'bug_create' %}">New bug</a>
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'fly_create' %}">New fly</a>
        <button class="btn btn-primary btn-sm mt-1 mb-1" onclick="window.history.back()">back</button>
    </div>
    <div class="col-md-2"></div>
</div>  
  
<div class="album py-5 ">
    <div class="container">
        <div class = "row">
            {% for bug in bugs %}
            <div class="col-md-4">
                <div class="card border-0 bg-transparent">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="{% url 'bug_detail' bug.id %}" ><h4>{{ bug.name | title }}</h4> </a>
                            <p>Fly count: {{ bug.fly_ent_count }} </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if bug.image %}
                                <a href="{% url 'bug_detail' bug.id %}" >
                                    <img src="{{ bug.image.url }}" class="img-thumbnail mx-auto d-block" style="width:75%" >
                                </a>
                            {% endif %}
                        </p>
                        {% if bug.notes %} {{ bug.notes | safe }} {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}