{% extends "catches/base/base.html" %}
{% block title %}Bug:{{ bug.name }}{% endblock %}

{% block content %}

<div class="container">   <!-- Message -->
	<div class="row">
	  <div class="col-md-12">
		{% if messages  %}
		  <ul class="messages">
			{% for message in messages %}
			  <div class="alert alert-info" role="alert">
				{{ message }}
			  </div>
			{% endfor %}
		  </ul>
		{% endif %}
	  </div>
	</div>
  </div><!-- Message -->
  
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card">
				<h5 class="card-header">
					{{ bug.name | title }}
				</h5>
				<div class="card-body">
					<p class="card text-center">
						{% if bug.image %}<img src="{{ bug.image.url }}" class="img-thumbnail"style="width:50%" >{% endif %}
					</p>
					<p>
						{{ bug.notes }}
					</p>
				
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-10">
								<div class="card-body">
									{% if bug.article %} 
										<a href="{{ bug.article.url }}" target="_blank" >Article: <b>{{ bug.article }}</b></a></br>
									{% endif %}
									YouTube videos tag: {{ bug.tag_name }}
									<div class="col-12">
										<ul>
											{% for vid in videos %}
											<li>
												<a href="{{ vid.url }}" target="_blank" >{{ vid.name }}</a>
											</li>
											{% endfor %}
										</ul>
									</div>
								</div>
								
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-8"> </div>
                        <div class="col-md-4">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'bug_update' bug.id %}" type="submit" >edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'bug_delete' bug.id %}" type="submit" >delete</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>
	<div class="row">  <!--   list of bug flys  -->
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="album py-1 ">
				<div class="container">
					<div class="row">
						{% for fly in flys %}
							<div class="card col-6">
								<div class="row">
									<p class="card-header col-4">
										{{ fly.name | title }}
										<a href="{% url 'fly_detail' fly.id %}" class="card-link"><b>{{ fly.name | title }}</b> </a>
									</p>
									<p class="card-header col-4">
										{% if not fly.fly_type == "" %} 
											Fly type: <a href="{% url 'fly_type_detail' fly.fly_type.id %}" class="card-link"><b>{{ fly.fly_type.name | title  }}</b> </a>
										{% endif %}
									</p>
									<p class="card-header col-4">
										{% if fly.bug %} 
											Bug type: <a href="{% url 'bug_detail' fly.bug.id %}" class="card-link"><b>{{ fly.bug.name | title  }}</b> </a>
										{% endif %}
									</p>
								</div>
								<div class="card-body">
									<p class="card text-center">
										{% if fly.image %}<img src="{{ fly.image.url }}" class="img-thumbnail"style="width:50%" >{% endif %}
									</p>
									<p>
										{{ fly.description }}
									</p>
								</div>
								<div class="card-footer">
									<div class="row">
										<div class="col-4">
											size range: <b> {{ fly.size_range }}</b>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		<div class="col-md-1"> </div>
	</div>
</div>
{% endblock content %} 