{% extends "catches/base/base.html" %}
{% block content %}
<h1>Bug</h1>      
<div class="album py-5 ">
    <div class="container">
        <div class = "row">
            {% for bug in bugs %}
            <div class="col-md-4">
                <div class="card mb-2 box-shadow card-link">
                    <a href="{% url 'bug_detail' bug.id %}" >{{ bug.name}} </a> {{ bug.fly_ent_count }}
                    <div class="card-body">
                        <p>{{ bug.notes }}</p>
                        <p>
                            {% if bug.image %}
                                <a href="{% url 'bug_detail' bug.id %}" >
                                    <img src="{{ bug.image.url }}" class="img-thumbnail"style="width:75%" >
                                </a>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class = "row">
        <button type="button" class="btn btn-primary">
            <a href="{% url 'bug_create' %}">New Bug</a>
        </button>
    </div>
</div>
{% endblock content %}