{% extends "catches/base/base.html" %}
{% block title %}Fish{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Fish</h1>  
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-right">
            {% if user.is_superuser %}            
                <button type="button" class="btn btn-primary">
                    <a href="{% url 'fish_create' %}">New Fish</a>
                </button> 
            {% endif %}
        </div>
    </div>
</div>
  
<div class="album py-5 ">
    <div class="container">
        <div class = "row">
            {% for fish in fishes %}
                <div class="col-md-4">
                    <!-- Added 'bg-transparent' and 'border-0' to clear the default card background -->
                    <div class="card mb-4 box-shadow bg-transparent border-0">
                        <a href="{% url 'fish_detail' fish.id %}" class="card-link">
                            {% comment %} <img class = "card-img-top" src="{{ fish.image.url }}" alt={{ fish.name | title }}> {% endcomment %}
                            {% if fish.image %}
                                <img src="{{ fish.image.url }}" alt="{{ fish.name }}" class="img-fluid">
                            {% else %}
                                <img src="/static/images/placeholder-fish.png" alt="No image available" class="img-fluid">
                            {% endif %}
                            <br><b>{{ fish.name | title}}</b> 
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ fish.notes | safe }} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}