{% extends "catches/base/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Fish</h1>  
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-right">
            <button type="button" class="btn btn-primary">
                <a href="{% url 'fish_create' %}">New Fish</a>
            </button> 
        </div>
    </div>
</div>
  
<div class="album py-5 ">
    <div class="container">
        <div class = "row">
            {% for fish in fishes %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <a href="{% url 'fish_detail' fish.id %}" class="card-link"><b>{{ fish.name | title}}</b> 
                        <img class = "card-img-top" src="{{ fish.image.url }}" alt={{ fish.name | title }}>
                        </a>
                        <div class="card-body">
                            <p class="card-text">{{ fish.notes | safe }} </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}