{% extends "catches/base/base.html" %}
{% block title %}Fish{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Fish</h1>  
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-right">
            {% if user.is_superuser %}            
                <a href="{% url 'fish_create' %}" class="btn btn-primary"><i class="bi bi-plus-circle-fill me-1"></i>New fish</a>
            {% endif %}
        </div>
    </div>
</div>
  
<div class="album py-5 ">
    <div class="container">
        <div class = "row">
            {% for fish in fishes %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow bg-transparent border-0">
                        <div class="card-body text-center">
                            <a href="{% url 'fish_detail' fish.id %}" class="d-block text-decoration-none mb-2">
                                <h4><b>{{ fish.name | title }}</b></h4>
                            </a>
                            {% if fish.image %}
                                <a href="{% url 'fish_detail' fish.id %}" class="d-block">
                                    <img src="{{ fish.image.url }}" alt="{{ fish.name }}" class="img-thumbnail mx-auto d-block" style="max-height: 220px; max-width: 85%; height: auto; object-fit: contain;">
                                </a>
                            {% endif %}
                            <p class="card-text mt-2">{{ fish.notes | safe }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}