{% extends "catches/base/base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <h1>Catagories of flys</h1> 
    </div>
    <div class="col-md-4 text-end">
        <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'bug_list' %}">Insect types</a>
        <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'fly_create' %}">New fly</a>
        <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'fly_type_create' %}">New fly type</a>
        <button class="btn btn-primary btn-md mt-1 mb-1" onclick="window.history.back()">back</button>
    </div>
    <div class="col-md-2"></div>
</div>   

<div class="album py-5 ">
    <div class="container">
        <div class = "row">
            {% for type in fly_types %}
            <div class="col-md-4">
                <div class="card border-0 bg-transparent">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <a href="{% url 'fly_type_detail' type.id %}" class="card-link"><h4>{{ type.name | title }} </h4></a>
                            <p>
                                Fly count: <b>{{ type.fly_kind_count }}</b>
                            </p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if type.image %}
                                <a href="{% url 'fly_type_detail' type.id %}" >
                                    <img src="{{ type.image.url }}" class="img-thumbnail mx-auto d-block" style="width:75%" > 
                                </a>
                            {% endif %}
                        </p>
                        {% if type.notes %}
                            {{ type.notes | safe }}
                        {% endif %}     
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> 

{% endblock content %}