{% extends "catches/base/base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card">
				<h5 class="card-header">
					{{ fly_type.name | title }}
				</h5>
				<div class="card-body">
					<p class="card text-center">
						{% if fly_type.image %}<img src="{{ fly_type.image.url }}" class="img-thumbnail"style="width:50%" >{% endif %}
					</p>
					<p>
						{{ fly_type.notes }}
					</p>
				
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-10">
															
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-8"> </div>
                        <div class="col-md-4">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'fly_type_update' fly_type.id %}" type="submit" >edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'fly_type_delete' fly_type.id %}" type="submit" >delete</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>

	<div class="row mb-3"><!-- Bottom card-->
        <div class="col-md-1  "></div>
        <div class="col-md-10  ">
          <div class="row">
            <div class="col-md-9  "> <!-- Nav tabs -->
                <ul class="nav nav-tabs ">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab"  
                        href="#FLYS">Flys <span class="badge badge-dark badge-pill"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#VIDS">Videos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#ARTS">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#PICS">Pictures</a>
                    </li>
                </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12  ">               <!-- Tab panes -->
                <div class="tab-content ">
                    <div class="tab-pane container active" id="FLYS">
                        {% include 'snippets/fly_list.html' %}
                    </div>
                    <div class="tab-pane container fade" id="VIDS">
                        {% include 'snippets/video_list.html' %}
                    </div>
                    <div class="tab-pane container fade" id="ARTS">
                        {% include 'snippets/article_list.html' %}
                    </div>
                    <div class="tab-pane container fade" id="PICS">
						{% include 'snippets/picture_list.html' %}
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-1  "></div>
      </div><!-- Bottom card-->

{% endblock content %}