{% extends "catches/base/base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card">
				<h5 class="card-header">
					{{ fly_type.name | title }}
				</h5>
				<div class="card-body">
					<p class="card text-center">
						{% if fly_type.image %}<img src="{{ fly_type.image.url }}" class="img-thumbnail"style="width:50%" >{% endif %}
					</p>
					<p>
						{{ fly_type.notes | safe }}
					</p>
				
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-1"></div>
							<div class="col-md-10">
															
							</div>
							<div class="col-md-1"></div>
						</div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-8"> </div>
                        <div class="col-md-4">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'fly_type_update' fly_type.id %}" type="submit" >edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'fly_type_delete' fly_type.id %}" type="submit" >delete</a>
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'fly_create' field='fly_type' pk=fly_type.id %}" type="submit" >new {{ fly_type.name | title }} </a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>
	<div class="row">  <!--   list of bug flys  -->
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="album py-1 ">
				<div class="container">
					<div class="row">
						{% for fly in flys %}
							<div class="card col-6">
								<div class="row">
									<p class="card-header card-link col-4">
										<a href="{% url 'fly_detail' fly.id %}" ><b>{{ fly.name | title }}</b> </a>
									</p>
									<p class="card-header col-4">
										{% if not fly.fly_type == "" %} 
											Fly type: <a href="{% url 'fly_type_detail' fly.fly_type.id %}" class="card-link"><b>{{ fly.fly_type.name | title  }}</b> </a>
										{% endif %}
									</p>
									<p class="card-header col-4">
										{% if fly.bug %} 
											Bug type: <a href="{% url 'bug_detail' fly.bug.id %}" class="card-link"><b>{{ fly.bug.name | title  }}</b> </a>
										{% endif %}
									</p>
								</div>
								<div class="card-body">
									<p class="card text-center">
										<a href="{% url 'fly_detail' fly.id %}" ></a>
											{% if fly.image %}<img src="{{ fly.image.url }}" class="img-thumbnail"style="width:50%" >{% endif %}
										</a>
									</p>
									<p>
										{{ fly.description }}
									</p>
								</div>
								<div class="card-footer">
									<div class="row">
										<div class="col-4">
											size range: <b> {{ fly.size_range }}</b>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		<div class="col-md-1"> </div>
	</div>
</div>
{% endblock content %}