{% extends "catches/base/base.html" %}
{% block content %}   
    <div class="album py-5 ">
        <div class="container">
            <div class = "row">
                {% for fly in flys %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow">
                            <a href="{% url 'fly_detail' fly.id %}" class="card-link">
                                <img src={{ fly.image.url }} alt={{ fly.name | title }}>
                            </a>
                            <div class="card-body">
                                <h4 class="">{{ fly.name | title  }}</h4>
                                <h6 class="card-subtitle text-muted">
                                    Type of fly: <b>{{ fly.fly_type }}</b>  Bug: <b>{{ fly.bug.name }}</b>
                                </h6>
                                <p class="card-text">{{ fly.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}