{% extends "catches/base/base.html" %}
{% block content %}
<!-- messages -->
{% include "catches/base/message.html" %}

<div class="row">
    <div class="col-md-4">
        <h1>Catagories of flys</h1> 
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4 text-right">
        <button type="button" class="btn btn-primary">
            <a href="{% url 'bug_list' %}">Insect types</a>
        </button> 
        <button type="button" class="btn btn-primary">
            <a href="{% url 'fly_create' %}">New fly</a>
        </button> 
        <button type="button" class="btn btn-primary">
            <a href="{% url 'fly_type_create' %}">New fly type</a>
        </button>
    </div>
</div>   
<div class="album py-5 ">
    <div class="container">
        <div class = "row">
            {% for type in fly_types %}
            <div class="col-md-4">
                <div class="card mb-2 box-shadow">
                    <div class="row">
                        <div class="col-md-8">
                            <a href="{% url 'fly_type_detail' type.id %}" class="card-link">{{ type.name }} </a>
                        </div>
                        <div class="col-md-4">
                            Fly count: {{ type.fly_kind_count }}
                        </div>
                    </div>
                    <div class="card-body">
                        <p>
                            {% if type.image %}
                                <a href="{% url 'fly_type_detail' type.id %}" >
                                    <img src="{{ type.image.url }}" class="img-thumbnail"style="width:75%" >
                                </a>
                            {% endif %}
                        </p>
                        <p>{{ type.notes | safe }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> 
{% endblock content %}