{% extends "catches/base/base.html" %}
{% block title %} Hatch:{{ hatch.bug | title }} {% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="card border-0 bg-transparent">
				<h5 class="card-header">
					<div class="row">
						<div class="col-md-6"> 
							<a href="{% url 'lake_detail' hatch.lake.id %}" class="card-link">
								Lake observed: <b>{{ hatch.lake.lake_info }}</b>
							</a>
						</div>
						<div class="col-md-6">
							<a href="{% url 'bug_detail' hatch.bug.id %}" class="card-link">
								Insect: <b>{{ hatch.bug }}</b>
							</a>
						</div>
					</div>
				</h5>
				<div class="card-body">
					<p class="card-text">
						<div class="row">
							<div class="col-md-6"> 
								<a href="{% url 'week_detail' hatch.week_id %}">
									Date observed: <b>{{ hatch.sight_date }}</b> (week: <b>{{ hatch.week.number }}</b>)
								</a>
							</div>
							<div class="col-md-6">
								{% if hatch.temp.name %}
									<a href="{% url 'temp_detail' hatch.temp.id %}" class="card-link">
										Temperature: <b>{{ hatch.temp.name }}</b>
									</a>
								{% endif %}
							</div>
						</div>
					</p>
					<p class="card-text">
						{{ hatch.notes | safe}}
					</p>
				</div>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-8">
							Tag: <b>{{ hatch.static_tag }}</b> 
						</div>
                        <div class="col-md-4">
                            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'hatch_update' hatch.id %}" type="submit" >edit</a>
                            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'hatch_delete' hatch.id %}" type="submit" >delete</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}