{% extends "catches/base/base.html" %}
{% block title %} Fishing Log {% endblock %}
<!-- This is going ot be the main landing page for everything. -->
{% load tz %}
{% load static %}

{% block message_bar %}
	<div class="row">  <!--  carousel  -->
		<div class="col-md-12">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						{% if user.is_authenticated %}
							{{ trip | safe }}
						{% else %}
							Please log in to see the next planned fishing trip.
						{% endif %}	
					</div>
					{% for announce in announcments %}
						<div class="carousel-item">
							{{ announce | safe }}  
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock message_bar %}

{% block content %}
<div class="container">
	<div class="row pt-1">
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'lake_list' %}" class="card-link"> 
					<img src="{% static 'catches/site/Mitchel.jpeg' %}" class="card-img-top border-0 rounded" height="245" alt="...">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<h5 class="card-title">LAKES</h5>
							</div>
							<div class="col-md-8 text-end">
								<small class="text-muted">All Stocked lakes in the province</small>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'fish_list' %}" class="card-link">
					<img src="{% static 'catches/site/tiger-trout.jpeg' %}" class="card-img-top border-0 rounded" height="245" alt="...">
					<div class="card-body">
						<div class="row">
							<div class="col-md-6">
								<h5 class="card-title">FISH</h5>
							</div>
							<div class="col-md-6 text-end">
								<small class="text-muted">The fish we catch</small>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'bug_list' %}" class="card-link">
					<img src="{% static 'catches/site/dragon_nymph.jpeg' %}" class="card-img-top border-0 rounded" height="245" alt="...">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<h5 class="card-title">BUGS</h5>
							</div>
							<div class="col-md-8 text-end">
								<small class="text-muted">What the fish eat</small>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'fly_type_list' %}" class="card-link">
					<img src="{% static 'catches/site/Parachute.png' %}" class="card-img-top border-0 rounded" height="245" alt="...">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<h5 class="card-title">FLYS</h5>
							</div>
							<div class="col-md-8 text-end">
								<small class="text-muted">The Flys we use</small>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'library_list' %}" class="card-link">
					<img src="{% static 'catches/site/fly_rods.jpeg' %}" class="card-img-top border-0 rounded" height="245" alt="...">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<h5 class="card-title">LIBRARY</h5>
							</div>
							<div class="col-md-8 text-end">
								<small class="text-muted">Articles, pictures and videos.</small>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'blog-home' %}" class="card-link">
					<img src="{% static 'catches/site/blog_pict.png' %}" class="card-img-top border-0 rounded" height="245" alt="...">
					<div class="card-body">
						<div class="row">
							<div class="col-md-4">
								<h5 class="card-title">BLOG</h5>
							</div>
							<div class="col-md-8 text-end">
								<small class="text-muted">Lets talk about what's going on</small>
							</div>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
<!--
This could all be put in one card with { include /partials/home_card.html}  
see https://youtu.be/oC1K8IKK3Vo?si=ag1ixv3H3vDpr3cv 
-->