{% extends "catches/base/base.html" %}
<!-- This is going ot be the main landing page for everything. -->
{% load tz %}

{% block message_bar %}
	<div class="row">  <!--  carousel  -->
		<div class="col-md-12">
			<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						{% if user.is_authenticated %}
							Our next planned trip is: <a href="{% url 'lake_detail' first_slide.lake.id %}"><b>{{ first_slide.lake.name | title }}</b></a> {{ first_slide.plan | safe }}
						{% else %}
							Please log in to see the next planned fishing trip.
						{% endif %}	
					</div>
					<div class="carousel-item">
						{{ second_slide | safe }}
					</div>
					<div class="carousel-item">
						{{ third_slide | safe }}
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock message_bar %}

{% block content %}
<div class="container">
	<div class="row pt-1">
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'lake_list' %}" class="card-link">
					<img src="media/pictures/Mitchel.jpeg" class="card-img-top border-0 rounded" width="100" height="245" alt="...">
					<div class="card-body">
						<h5 class="card-title ">LAKES</h5>
						<p class="card-text"><small class="text-muted">All Stocked lakes in the province</small></p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'fish_list' %}" class="card-link">
					<img src="media/tiger-trout.jpeg" class="card-img-top border-0 rounded" width="100" height="245" alt="...">
					<div class="card-body">
						<h5 class="card-title">FISH</h5>
						<p class="card-text"><small class="text-muted">The fish we catch</small></p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'bug_list' %}" class="card-link">
					<img src="media/bug/damselfly_nymph.jpg" class="card-img-top border-0 rounded" width="100" height="245" alt="...">
					<div class="card-body">
						<h5 class="card-title">BUGS</h5>
						<p class="card-text"><small class="text-muted">What the fish eat</small></p>
					</div>
				</a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'fly_type_list' %}" class="card-link">
					<img src="media/flys/Parachute.png" class="card-img-top border-0 rounded" width="100" height="245" alt="...">
					<div class="card-body">
						<h5 class="card-title">FLYS</h5>
						<p class="card-text"><small class="text-muted">The Flys we use</small></p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'library_list' %}" class="card-link">
					<img src="media/pictures/fly_rods.jpeg" class="card-img-top border-0 rounded" width="100" height="245" alt="...">
					<div class="card-body">
						<h5 class="card-title">LIBRARY</h5>
						<p class="card-text"><small class="text-muted">Articles, pictures and videos.</small></p>
					</div>
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card border-0 bg-transparent">
				<a href="{% url 'blog-home' %}" class="card-link">
					<img src="media/blog_pict.png" class="card-img-top border-0 rounded" width="100" height="245" alt="...">
					<div class="card-body">
						<h5 class="card-title">BLOG</h5>
						<p class="card-text"><small class="text-muted">Lets talk about what's going on</small></p>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
<!--
This could all be put in one card with { include /partials/home_card.html}  
see https://youtu.be/oC1K8IKK3Vo?si=ag1ixv3H3vDpr3cv 
-->