{% extends "catches/base/base.html" %}
{% block title %}Knots{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Knots</h1>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-right">
            {% if user.is_superuser %}
            <a href="{% url 'knot_create' %}" class="btn btn-primary"><i class="bi bi-plus-circle-fill me-1"></i>New knot</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="album py-5 ">
    <div class="container">
        <div class="row">
            {% for knot in knots %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow bg-transparent border-0">
                    <div class="card-body text-center">
                        <a href="{% url 'knot_detail' knot.id %}" class="d-block text-decoration-none mb-2">
                            <h4><b>{{ knot.name | title }}</b></h4>
                        </a>
                        {% if knot.image %}
                        <a href="{% url 'knot_detail' knot.id %}" class="d-block">
                            <img src="{{ knot.image.url }}" alt="{{ knot.name }}" class="img-thumbnail mx-auto d-block" style="max-height: 220px; max-width: 85%; height: auto; object-fit: contain;">
                        </a>
                        {% endif %}
                        <p class="card-text mt-2">{{ knot.notes | safe }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}