{% extends "catches/base/base.html" %}
{% block title %} Lake: {{ lake.name | title }} {% endblock %}
{% load static %}
{% load catches_tags %}

{% block content %}

<div class="container">
	<div class="row"><!-- Top card-->
		<div class="col-md-12">
			<div class="card border-0 bg-transparent">
				<div class="card-header"> <!-- top of the card -->
					<div class="row"> <!-- Title line -->
						<div class="col-md-7 text-center"> 
							<h2>
								{{ lake.lake_info | title }}{% if lake.favourite %}<i class="fas fa-check-circle"></i>{% endif %}
							</h2>
						</div>
                        <div class="col-md-5 text-end">
							{% if user.is_authenticated %}
								<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'lake_create' %}" type="submit" >new</a>
								<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'lake_update' lake.id %}" type="submit" >edit</a>
								<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'lake_delete' lake.id %}" type="submit" >delete</a>
							{% endif %}
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'lake_list' %}" type="submit" >back</a>
						</div>
					</div> <!-- Title line -->
					<hr>
					<div class="row"> <!-- Districts line -->
						<div class="col-md-4">
							District: <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'lake_list_dist' lake.district %}"> {{ lake.dist_name | title  }}</a>
						</div>
						<div class="col-md-2">
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_graph_lake' pk=lake.id %}">Temperature graph</a>
						</div>
						<div class="col-md-1">
							{% if user.is_authenticated %}
								<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'weather2' pk=lake.id %}">Weather</a>
							{% endif %}
						</div>
						<div class="col-md-5 text-end">
							{% if user.is_authenticated %}
								<form method="post">{% csrf_token %}
									{{ form }}
									<input class="btn btn-primary btn-md mt-1 mb-1" type="submit" value="Plan">
								</form>
							{% endif %} 
						</div>
					</div> <!-- Districts line -->
					<hr>
					<div class="row"> <!-- Maps line -->
						<div class="col-md-4 text-center">
							{% if lake.gps_url %} 
								<a class="btn btn-primary btn-md mt-1 mb-1" href="{{ lake.gps_url }}" 
									target="_blank" type="submit" >Bathymetric</a>
							{% endif %}
							{% if lake.lat %} 
								<a class="btn btn-primary btn-md mt-1 mb-1" 
									href="https://www.google.com/maps/search/?api=1&query={{ lake.lat }},{{ lake.long }}" 
									target="_blank" type="submit" >Location
								</a>
							{% endif %}
						</div>
						<div class="col-md-4">
							<p>
								<abbr title = "Distance from address recorded in your profile according to Google Maps.">
								Distance: 
								</abbr>
								{% if user.is_authenticated %}
									{% if distance.distance_text == 'Distance not available' %}
										<b>Distance not available</b>
									{% else %}
										<b>{{ distance.distance_text }} or {{ distance.time_text }}</b>
									{% endif %}
								{% else %}
									Login to see distance
								{% endif %}
							</p>
						</div>
						<div class="col-md-4 text-end">
							Tag: <b> {{ lake.static_tag }}</b>
						</div>
					</div> <!-- Maps line -->
					<hr>
					<div class="row"> <!-- new content line -->
                        <div class="col-md-1"></div>	
                        <div class="col-md-2">
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'hatch_create_from_lake' pk=lake.id %}">Hatch at the lake</a>
						</div>	
                        <div class="col-md-2">
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_create_from_lake' pk=lake.id %}">Catch log</a>
						</div>	
                        <div class="col-md-2">
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'article_create' field='lake' pk=lake.id tag=lake.static_tag %}">New article</a>
						</div>	
                        <div class="col-md-2">
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'picture_create' field='lake' pk=lake.id tag=lake.static_tag %}">New picture</a>
						</div>	
                        <div class="col-md-2">
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'video_create' field='lake' pk=lake.id tag=lake.static_tag %}">New video</a>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
				</div> <!-- top of the card -->
				<div class="card-body"> <!-- card body for notes -->
					<p class="card-text">
						{{ lake.notes | safe }}
					</p>
				</div> <!-- card body for notes -->
				<hr>
				<div class="card-footer"> <!-- card footer for snippets -->
					<div class="row"> <!-- tabs -->
						<h5 class="col-12"><!-- Nav tabs -->
							<ul class="nav nav-tabs "> 
								<li class="nav-item">
									<a class="nav-link active" data-toggle="tab"  
									href="#LOGS">Fishing Logs <span class="badge badge-dark badge-pill">{{ lake.log_set.count }}</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab"  
									href="#HATCH">Hatch <span class="badge badge-dark badge-pill">{{ lake.num_of_hatch }}</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" 
									href="#STOCKS">Stock report <span class="badge badge-dark badge-pill">{{ lake.num_of_stock }}</span></a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab"  href="#LOC">Details</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab"  href="#VIDS">Videos</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab"  href="#ARTS">Articles</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#PICS">Pictures</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" data-toggle="tab" href="#BLOGS">Blog Posts</a>
								</li>
							</ul>
						</h5>
					</div> <!-- tabs -->
					<div class="row"> <!-- slides -->
						<div class="col-md-12  ">               <!-- Tab panes -->
							<div class="tab-content ">
								<div class="tab-pane container active" id="LOGS">
									{% include 'snippets/log_tab.html' %}
								</div> 
								<div class="tab-pane container fade" id="HATCH">
									{% include 'snippets/hatch_tab.html' %}
								</div>  
								<div class="tab-pane container fade" id="STOCKS">
									{% include 'snippets/stock_tab.html' %}
								</div>   
								<div class="tab-pane container fade" id="LOC">
									{% include 'snippets/lake_location.html' %}
								</div>   
								<div class="tab-pane container fade" id="VIDS">
									{% include 'snippets/video_list.html' %}
								</div>
								<div class="tab-pane container fade" id="ARTS">
									{% include 'snippets/article_list.html' %}
								</div>
								<div class="tab-pane container fade" id="PICS">
									{% include 'snippets/picture_tab.html' %}
								</div>
								<div class="tab-pane container fade" id="BLOGS">
									{% include 'snippets/blog_list.html' %}
								</div>
							</div>
						</div>
					</div> <!-- slides -->
				</div> <!-- card footer for snippets -->
			</div>
		</div>
	</div>
</div>

{% endblock content %}