{% extends "catches/base/base.html" %}
{% block title %} Lakes {% endblock %}
{% block content %}

<div class="row">  <!-- Title -->
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h1>Favourite lakes</h1> 
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-3 text-start">
        {% if user.is_authenticated %}
            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'lake_create' %}" type="submit" >new lake</a>
        {% endif %}
        <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'temp_list' %}" type="submit" >temp list</a>
        <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'week_list' %}" type="submit" >week list</a>
        <button class="btn btn-primary btn-md mt-1 mb-1" onclick="window.history.back()">back</button>
    </div>
    <div class="col-md-1"></div>
</div>
 
<div class="row">  <!-- Favourite data -->
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-0 bg-transparent" >
            <div class="card-body" style="column-count: 3;">                                
                <ul class="list-unstyled card-columns" >
                    {% for f in favs %}
                        <!-- <li>
                            <a href="{% url 'lake_detail' f.lake.id %}"><b>{{ f.lake.name | title }}</b></a>
                            {% if not f.lake.other_name == "" %} <a href="{% url 'lake_detail' f.lake.id %}"> ({{ f.lake.other_name | title }}) </a> {% endif %}
                            {% if f.lake.log_set.count %}
                                <span class="badge badge-light badge-pill"> ( logs: {{ f.lake.log_set.count }} )</span>
                            {% endif %}
                        </li> -->
                        <li>
                            <button type="button" class="btn bg-transparent position-relative">
                                <a href="{% url 'lake_detail' f.lake.id %}"><b>{{ f.lake.name | title }}</b>
                                    {% if not f.lake.other_name == "" %} <a href="{% url 'lake_detail' f.lake.id %}"> ({{ f.lake.other_name | title }}) </a> {% endif %}
                                    <span class="badge bg-primary text-light">
                                        ( logs: {{ f.lake.log_set.count }} )
                                    </span>
                                </a>
                              </button>
                        </li>
                    {% endfor %} 
                </ul> 
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="container-fluid">  <!-- horizantal line -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-md-10">
            <hr size="2px" color="#175873" noshade />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">  <!-- Regions title -->
    <div class="col-md-1"></div>
    <div class="col-md-7">
        <h1>Lakes by region</h1>
    </div>
    <div class="col-md-3">
        <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'region_list' %}" type="submit" >regions</a>
        <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'region_create' %}" type="submit" >new region</a>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">  <!-- Regions data -->
    <div class="col-md-1"></div>
    <div class="col-md-10"> 
        <div class="card border-0 bg-transparent" >
            <div class="card-body" style="column-count: 3;">                                
                <ul class="list-unstyled card-columns" >
                    {% for reg in regions %}
                        <li>
                            <a href="{% url 'region_detail' reg.id %}"><b>{{ reg.name | title }}</b>  ( Lakes: {{ reg.lake_count }} )</a>
                        </li>
                    {% endfor %} 
                </ul> 
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="container-fluid">  <!-- horizantal line -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-md-10">
            <hr size="2px" color="#175873" noshade />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">  <!-- District title -->
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Lakes by district</h1>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">  <!-- Districts data -->
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-0 bg-transparent" >
            <div class="card-body" style="column-count: 3;">                                
                <ul class="list-unstyled card-columns" >
                    {% for dist in districts %}
                        <li>
                            <a href="{% url 'lake_list_dist' dist.0 %}"> <b>{{ dist.1 | title }}</b>  ( Lakes: {{ dist.2 }} )</a>
                        </li>
                    {% endfor %} 
                </ul> 
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock content %}