{% extends "catches/base/base.html" %}
{% block content %}

<div class="row">  <!-- Title -->
    <div class="col-md-1"></div>
    <div class="col-md-3">
        <h1>Favourite lakes</h1> 
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-3 text-start">
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'lake_create' %}" type="submit" >new lake</a>
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'temp_list' %}" type="submit" >temp list</a>
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'week_list' %}" type="submit" >week list</a>
        <button class="btn btn-primary btn-sm mt-1 mb-1" onclick="window.history.back()">back</button>
    </div>
    <div class="col-md-1"></div>
</div>
 
<div class="row">  <!-- Favourite data -->
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-0 bg-transparent" >
            <div class="card-body" style="column-count: 3;">                                
                <ul class="list-unstyled card-columns" >
                    {% for lake in favs %}
                        <li>
                            <a href="{% url 'lake_detail' lake.id %}">{{ lake.name | title }}</a>
                            {% if not lake.other_name == "" %} <a href="{% url 'lake_detail' lake.id %}"> ({{ lake.other_name | title }}) </a> {% endif %}
                            {% if lake.log_set.count %}
                                <span class="badge badge-dark badge-pill"> ( logs: {{ lake.log_set.count }} )</span>
                            {% endif %}
                        </li>
                    {% endfor %} 
                </ul> 
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="container-fluid">  <!-- horizantal line -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-md-10">
            <hr size="2px" color="#175873" noshade />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">  <!-- Regions title -->
    <div class="col-md-1"></div>
    <div class="col-md-8">
        <h1>Lakes by region</h1>
    </div>
    <div class="col-md-2">
        <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'region_create' %}" type="submit" >new region</a>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">  <!-- Regions data -->
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-0 bg-transparent" >
            <div class="card-body" style="column-count: 3;">                                
                <ul class="list-unstyled card-columns" >
                    {% for reg in regions %}
                        <li>
                            <a href="{% url 'region_detail' reg.id %}">{{ reg.name | title }}  ( Lakes: {{ reg.lake_count }} )</a>
                        </li>
                    {% endfor %} 
                </ul> 
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="container-fluid">  <!-- horizantal line -->
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-md-10">
            <hr size="2px" color="#175873" noshade />
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<div class="row">  <!-- District title -->
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Lakes by district</h1>
    </div>
    <div class="col-md-1"></div>
</div>

<div class="row">  <!-- Districts data -->
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="card border-0 bg-transparent" >
            <div class="card-body" style="column-count: 3;">                                
                <ul class="list-unstyled card-columns" >
                    {% for dist in districts %}
                        <li>
                            <a href="{% url 'lake_list_dist' dist.0 %}"> {{ dist.1 | title }}  ( Lakes: {{ dist.2 }} )</a>
                        </li>
                    {% endfor %} 
                </ul> 
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

{% endblock content %}