{% extends "catches/base/base.html" %}

{% block content %}
<h1>Lakes</h1>
<div class="container">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-10">
			<div class="card">
				<h5 class="card-header">
					<!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        {% if logs %}
                            <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#LOGS">Fishing Logs</a>
                            </li>
                        {% endif %}
                        {% if stockings %}
                            <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#STOCKS">Stock report</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#TEST">test</a>
                        </li>
                    </ul>
				</h5>
				<div class="card-body">
					<p class="card-text">
						Card content
					</p>
				</div>
				<div class="card-footer">
					Card footer
				</div>
			</div>
		</div>
		<div class="col-md-1">
		</div>
	</div>
</div>

{% endblock content %}