{% extends "catches/base/base.html" %}
{% block content %}

<div class="container">


    <div class="row">
        <div class="col"> </div>
        <div class="col-10">
            top card
        </div>
        <div class="col"> </div>
    </div>
    <div class="row">
        <div class="col"> </div>
        <div class="col-10">
            bottom card
        </div>
        <div class="col"> </div>
    </div>



</div><!-- Top container -->

 

{% endblock content %}
<!--
{% include "lake_detail/top_card.html" %}
{% include "lake_detail/bottom_card.html" %}  -->