{% extends "catches/base/base.html" %}
{% block content %}
<!-- messages -->
{% include "catches/base/message.html" %}

<div class="row">
    <div class="col-md-6">
        <h1>Lakes</h1> 
    </div>
    <div class="col-md-1">   
            <button type="button" class="btn btn-dark_green">
                <a href="{% url 'lake_list_fav' 'True' %}">Favourites</a>
            </button>  
    </div>
    <div class="col-md-1">        
            <button type="button" class="btn btn-primary">
                <a href="{% url 'region_list' %}">Regions</a>
            </button> 
    </div>
    <div class="col-md-4 text-center">
        {% if fav_count %}favourites: <b>{{ fav_count }}</b> {% endif %}
    </div>
</div>
 
<div class="row">
    <div class="col-md-12">
        <div class="card border-0 bg-transparent" >
            <div class="card-body" style="column-count: 1;">                                
                <ul class="list-unstyled card-columns" >
                    {% for lake in lakes %}
                        <li>
                            {% if lake.favourite %}<i class="fas fa-check-circle"></i>{% endif %}
                            <a href="{% url 'lake_detail' lake.id %}">{{ lake.name | title }}</a>
                            {% if not lake.other_name == "" %} <a href="{% url 'lake_detail' lake.id %}"> ({{ lake.other_name | title }}) </a> {% endif %}
                            {% if lake.log_set.count %}
                                <span class="badge badge-dark badge-pill">{{ lake.log_set.count }}</span>
                            {% endif %}
                        </li>
                    {% endfor %} 
                </ul> 
            </div>
        </div>
    </div>
</div>

{% endblock content %}