{% extends "catches/base/base.html" %}
{% block content %}
<div class="container">
	<div class="row"> <!--  Top card-->
		<div class="col-md-1"> </div>
		<div class="col-md-10"> 
			<div class="card border-0 bg-transparent">	
				<div class="card-header">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-4"> 
							<h5> 
								District: <b>{{ district | title }}</b>   <!-- This is a test -->
							</h5>
						</div>
						<div class="col-md-6 text-end">
							Lakes in the district: <b></b>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-8"> 
                            <a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'make_kml' id 'D' %}" type="submit" >Make KML file</a>
							<a class="btn btn-primary btn-sm mt-1 mb-1" href='{{ MEDIA_URL }}/media/How to use the kml file.pdf' target="_blank" >KML file help </a>
						</div>
                        <div class="col-md-4 text-end">
							<button class="btn btn-primary btn-sm mt-1 mb-1" onclick="window.history.back()">back</button>
						</div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div> <!--  Top card-->
	<div class="row"> <!--  Bottom card-->
		<div class="col-md-1"> </div>
		<div class="col-md-10"> 
			{% include 'snippets/lake_list.html' %}
		</div>
		<div class="col-md-1"> </div>
	</div> <!--  Bottom card-->
</div>
{% endblock content %}