{% extends "catches/base/base.html" %}
{% block title %}Log{% endblock %}
{% block content %}   
    <div class="album py-5 ">
        <div class="container">
            <div class = "row">
                <div class="col-md-2">
                    <h3>Fishing logs</h3>
                </div> 
                <div class="col-md-7">
                    <form class="form-inline my-2 my-lg-0 ml-md-auto" action="{% url 'log_search_list' %}" method="get">
                        {% csrf_token %}
                        <p>
                            <input class="form-control mr-sm-2" name="q" type="search" placeholder="Water Temp search"> 
                            <button class="btn btn-primary my-2 my-sm-0" type="submit"><i class="bi bi-search me-1"></i>Search</button>
                        </p>
                    </form>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'hatch_create' %}"><i class="bi bi-plus-circle-fill me-1"></i>New Hatch</a>
                    <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_create' %}">
                        <abbr title = "Logs are assigned to the person logged in and can be marked private so only you see that log.">
                            <i class="bi bi-plus-circle-fill me-1"></i>New log
                        </abbr>
                    </a>
                    <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_graph' %}"><i class="bi bi-graph-up me-1"></i>Graph</a>
                    <button class="btn btn-primary btn-md mt-1 mb-1" onclick="window.history.back()"><i class="bi bi-arrow-left-circle-fill me-1"></i>Back</button>
                </div> 
            </div> 
            <div class = "row">
                <div class="col-md-1"></div> 
                <div class="col-md-10">
                    {% include 'snippets/log_tab.html' %}
                </div> 
                <div class="col-md-1"></div> 
                </div> 
            </div>
        </div>
    </div>
{% endblock content %}