{% extends "catches/base/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col"> </div>
            <div class="col-10">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-6">
                                <h5>
                                    <a href="{% url 'lake_detail' log.lake.id %}">{{ log.lake.lake_info | title  }}</a>{% if log.lake.favourite %}<i class="fas fa-check-circle"></i>{% endif %}
                                </h5>
                            </div>
                            <div class="col-4 text-right">
                                Water temp: <b>{{ log.temp.name }}</b>
                            </div>
                            <div class="col-2 text-right">
                                {{ log.catch_date|date:"D, N j, y" }}
                            </div>
                        </div>
                    </div>
                    <div class="card-body"> 
                        <div class="row">
                            <div class="card col-6">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-6">
                                            Fish: <a href="{% url 'fish_detail' log.fish.id %}">{{ log.fish.name | title}}</a>
                                        </div>
                                        <div class="col-3">
                                            {{ log.fish.abbreviation }}</a>  
                                        </div>
                                        <div class="col-3">
                                            {% if log.fish_swami > 0 %}
                                                {{ log.fish_swami }}</a>  
                                            {% endif %}
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="card-text">
                                    {% if log.length %}<p>length: {{ log.length }}cm ({{ log.len_inch }}")</p>{% endif %}
                                    {% if log.weight %}<p>Weight: {{ log.weight }}Kg ({{ log.wen_lbs }}lbs)</p>{% endif %}
                                    {% if log.num_landed %}<p>Number caught: {{ log.num_landed }}</p>{% endif %}
                                </div>
                            </div>
                            <div class="card col-6">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-4">
                                            Fly: <a href="{% url 'fly_detail' log.fly.id %}">{{ log.fly.name | title}}</a>  
                                        </div>
                                        <div class="col-4">
                                            Bug: {{ log.fly.bug.name | title}}</a>  
                                        </div>
                                        <div class="col-4">
                                            Type: {{ log.fly.fly_type | title}}</a>  
                                        </div>
                                    </div>
                                </div>
                                <div class="card-text">
                                    {% if log.fly_size %}<p>Size: {{ log.fly_size }}</p>{% endif %}
                                    {% if log.fly_colour %}<p>Colour: {{ log.fly_colour }}</p>{% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="card-text">
                        {{ log.notes }}
                    </p>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-8"></div>
                            <div class="col-4 text-right ">
                                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'log_update' log.id %}" type="submit" >edit</a>
                                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'log_delete' log.id %}" type="submit" >delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col"> </div>
    </div>

</div><!-- Top container -->
{% endblock content %}