{% extends "catches/base/base.html" %}
{% block content %}   
    <div class="album py-5 ">
        <div class="container">
            <div class = "row">
                <div class="col-5">
                    <h3>Fishing logs</h3>
                </div> 
                <div class="col-5">
                    <form class="form-inline my-2 my-lg-0 ml-md-auto" action="{% url 'log_search_list' %}" method="get">
                        {% csrf_token %}
                        <input class="form-control mr-sm-2" name="q" type="search" placeholder="Water Temp search">
                        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                <div class="col-2">
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'log_create' %}">New log</a>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'log_graph' %}">graph</a>
                </div> 
            </div>
            <div class = "row">
                {% for log in logs %}
                    <div class="col-md-6">
                        <div class="card mb-4 box-shadow">
                            <div class="card-body">
                                <h5 class="card-title">
                                    <div class="row">
                                        <div class="col-5">
                                            Water temp: <b>{{ log.temp.name }}</b>
                                        </div>
                                        <div class="col-7">
                                            <a href="{% url 'log_detail' log.id %}">{{ log.catch_date | date:"D, N j, y" }}</a> (week: {{ log.catch_date | date:"W" }})
                                        </div>
                                    </div>
                                </h5>
                                <h6>
                                    Lake: <a href="{% url 'lake_detail' log.lake.id %}">{{ log.lake.lake_info | title }}</a> 
                                </h6>
                                <h6>
                                    {% if log.fish %}
                                        Fish: <a href="{% url 'fish_detail' log.fish.id %}"><b>{{ log.num_landed }} {{ log.fish.name | title }}</b></a>
                                    {% endif %}
                                </h6>
                                <h6>
                                    {% if log.fly %}
                                        Fly: <a href="{% url 'fly_detail' log.fly.id %}"><b>{{ log.fly.name | title}}</b></a>  
                                    {% endif %}
                                </h6>
                                <p class="card-text">
                                    {{ log.notes }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}