{% extends "catches/base/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card border-0 bg-transparent">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                            <h6>
                                Fishing log for <a href="{% url 'lake_detail' log.lake.id %}"><b>{{ log.lake.lake_info | title  }}</b></a>{% if log.lake.favourite %}<i class="fas fa-check-circle"></i>{% endif %}
                            </h6>
                        </div>
                        <div class="col-md-3">
                            <h5 class="text-end">
                                Angler: <b>{{ log.angler | title }}</b>
                            </h5>
                        </div>
                        <div class="col-md-1">
                            <h5 style="color: red">
                                {% if private %}<i class="fas fa-eye-slash"></i>{% endif %}
                            </h5>
                        </div>
                    </div>
                    <hr>
                    <div class=row>
                        <h5 class="col-md-6 text-center">
                            {% if log.temp %}
                                <a href="{% url 'temp_detail' log.temp.id %}">
                                    Water temp: <b>{{ log.temp.name }}</b>
                                </a>
                            {% endif %}
                        </h5>
                        <h5 class="col-md-6 text-right">
                            <b>{{ log.catch_date|date:"D, N j, y" }} <a href="{% url 'week_detail' log.week.id %}"></b>   Week: <b>{{ log.week.number }}</a></b>
                        </h5>
                    </div>
                </div>
                <div class="card-body"> 
                    <div class="row">
                        <div class="card  border-0 bg-transparent col-md-6">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-6">
                                        {% if log.fish %}
                                            Fish: <a href="{% url 'fish_detail' log.fish.id %}"><b>{{ log.fish.name | title }}</b></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-6">
                                        {% if log.fish_swami > 0 %}
                                            <a href="https://www.fishswami.com/log_entries/{{ log.fish_swami }}" target="_blank" >Fish Swami log</a>
                                        {% endif %}
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-text pt-3">
                                {% if log.length %}<p>length: <b>{{ log.length }}cm ({{ log.len_inch }}")</b></p>{% endif %}
                                {% if log.weight %}<p>Weight: <b>{{ log.weight }}Kg ({{ log.wen_lbs }}lbs)</b></p>{% endif %}
                                {% if log.num_landed %}<p>Number of fish caught: <b>{{ log.num_landed }}</b></p>{% endif %}
                            </div>
                        </div>
                        <div class="card  border-0 bg-transparent col-md-6">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-md-4">
                                        {% if log.fly %}
                                            Fly: <a href="{% url 'fly_detail' log.fly.id %}"><b>{{ log.fly.name | title}}</b></a>  
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        Bug: <b>{{ log.fly.bug.name | title}}</b></a>  
                                    </div>
                                    <div class="col-md-4">
                                        Type: <b>{{ log.fly.fly_type | title}}</b></a>  
                                    </div>
                                </div>
                            </div>
                            <div class="card-text">
                                {% if log.fly_size %}<p>Size: <b>{{ log.fly_size }}</b></p>{% endif %}
                                {% if log.fly_colour %}<p>Colour: <b>{{ log.fly_colour }}</b></p>{% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <p class="card-text">
                    {% if log.notes %}<p>{{ log.notes | safe }}</p>{% endif %}
                </p>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6"></div>
                        <div class="col-md-6 text-end ">
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_create' %}" type="submit" >new log</a>
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_duplicate' log.id %}" type="submit" >duplicate log</a>
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_update' log.id %}" type="submit" >edit</a>
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_delete' log.id %}" type="submit" >delete</a>
                            <button class="btn btn-primary btn-md mt-1 mb-1" onclick="window.history.back()">back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div><!-- Top container -->
{% endblock content %}