{% extends "catches/base/base.html" %}
{% block title %}Picture:{{ picture.name }}{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card border-0 bg-transparent">
				<h5 class="card-header"><b>{{ picture.name | title }}</b> - {{ picture.snippet }}</h5>
				<div class="card-body">
					<p>
						{% if picture.image %}
						<img class="img-fluid rounded mx-auto d-block" src="{{ picture.image.url }}" alt="{{ picture.name | title }}" style="max-height: 450px; max-width: 100%; height: auto; object-fit: contain;">
						{% endif %}
						{{ picture.notes|safe }}
					</p>
				</div>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5">
							Tags: <b>{{ picture.tag_list }}</b>
						</div>
                        <div class="col-md-3">
                            Picture added: <b>{{ picture.date_added }}</b>
                        </div>
                        <div class="col-md-4 text-end">
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'picture_update' picture.id %}"><i class="bi bi-pencil-fill me-1"></i>Edit</a>
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'picture_delete' picture.id %}"><i class="bi bi-trash-fill me-1"></i>Delete</a>
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'picture_create' %}"><i class="bi bi-plus-circle-fill me-1"></i>New picture</a>
							<button class="btn btn-primary btn-md mt-1 mb-1" onclick="window.history.back()"><i class="bi bi-arrow-left-circle-fill me-1"></i>Back</button>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>
{% endblock content %}
