{% extends "catches/base/base.html" %}
{% block title %}AI-Plan for: {{ lake.name | title  }}{% endblock %}
<!-- This is the AI plan page. -->
{% block content %}
 
<div class="container">
	<div class="row"> <!-- Title Row-->
		<div class="col-md-12">
            {{ ai_plan | safe }}
		</div>
	</div>
	<div class="row"> <!-- back button-->
		<div class="col-md-12 text-end">
            <button class="btn btn-primary btn-md mt-1 mb-1" onclick="window.history.back()">back</button>
		</div>
	</div>
</div>

{% endblock content %}