{% extends "catches/base/base.html" %}
{% block title %}Plan{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
{{ form.media }}
    <form method="post" novalidate enctype="multipart/form-data">
      {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.error }}
          {{ hidden_field }}
      {% endfor %}
      {% csrf_token %}
      
      <div class="container">
        <div class="row">
          <div class="col-4">
            {{ form.name|as_crispy_field }}
          </div>
          <div class="col-8">
            {{ form.snippet|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            {{ form.fly_type|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.bug|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.author|as_crispy_field }}
          </div>
        </div>
        <div class="row">
          <div class="col-1"> </div>
          <div class="col-10">
            {{ form.notes|as_crispy_field }}
          </div>
          <div class="col-1"> </div>
        </div>
        <div class="row">
          <div class="col-2">
            {{ form.static_tag|as_crispy_field }}
          </div>
          <div class="col-8">
            {{ form.image|as_crispy_field }}
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary">Save fly</button>
          </div>
        </div>
      </div>
    </form>
{% endblock content %}
