{% extends "catches/base/base.html" %}
{% block title %}Plan Setup{% endblock %}
<!-- This is the main plan page. -->
{% load tz %}
{% load crispy_forms_tags %}
{% block content %}
 
{{ form.media }}

<form method="post" novalidate enctype="multipart/form-data">
	{% for hidden_field in form.hidden_fields %}
		{{ hidden_field.error }}
		{{ hidden_field }}
	{% endfor %}
	{% csrf_token %}
<div class="container">
	<div class="row"> <!-- Title Row-->
		<div class="col-md-3"> 

		</div>
		<div class="col-md-6 text-center"> </div>
		<div class="col-md-3"> </div>
	</div>
</div>

{% endblock content %}