{% extends "catches/base/base.html" %}
{% block title %}Plan for: {{ lake.name | title  }}{% endblock %}
<!-- This is the main plan page. -->
{% load tz %}
{% block content %}
 
<div class="container">
	<div class="row"> <!-- Title Row-->
		<div class="col-md-12 text-left">
            <h3> 
				<b>Fishing plan</b> for: <a href="{% url 'lake_detail' lake.id %}">
                    <b>{{ lake.lake_info | title  }}</b>{% if fav %}<i class="fas fa-check-circle"></i>{% endif %}
                </a>
                <a href="{% url 'week_list' %}"> <!--  TODO Make this look up to see if it is a good week or send it to all weeks -->
					Week: <b>{{ week.number }}</b> ({{ week.dates_in_week.start_date }} - {{ week.dates_in_week.end_date }})
                </a>
            </h3>
		</div>
	</div>
	<hr>
	<div class="row"> <!-- Temperature Row-->
		<div class="col-md-12 text-start">
            {% if hl.low %} Lowest recorded temperature <b>{{ hl.low }}&deg;C</b>{% endif %}  - 
			{% if hl.high %} Highest recorded temperature <b>{{ hl.high }}&deg;C</b>{% endif %} - 
			Average recorded temperature <b>{{ ave_temp.deg }}&deg;C</b>
		</div>
	</div>
	{% if ave_temp %}
		<hr>
		<div class="row"> <!-- Stratagy-->
			<div class="col-md-12 text-start">
				{{ ave_temp.notes }}
			</div>
		</div>
	{% endif %}
    <hr>
	<div class="row"> <!-- Flys Row-->
		<div class="col-md-6"> <!-- Best flys based on logs card-->
			<div class="card border-0 bg-transparent">
				<h4 class="card-header">
					<b>Flys that have worked duing this week</b>
				</h4>
				<div class="card-body">
					{% if fly_list %}
						{% for fly in fly_list %} 
							<p class="card-text">
								<a href="{% url 'fly_detail' fly.id %}"> <b>{{ fly }}</b> </a>
							</p>
						{% endfor %} 
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-6"> <!-- Insect schedule card-->
			<div class="card border-0 bg-transparent">
				<h4 class="card-header">
					<b>Insect schedule</b>
				</h4>
				<div class="card-body">
					<table class="table table-striped table-hover">
						<thead>
						  <tr>
							<th scope="col">Insect</th>
							<th scope="col">Last week</th>
							<th scope="col"><b>This week</b></th>
							<th scope="col">Next week</th>
							<th scope="col">Trend</th>
						  </tr>
						</thead>
						<tbody>
						  {% for c in chart_for_weeks %}
						  <tr>
							<th scope="row">
								<a href="{% url 'bug_detail' c.bug_id %}">{{ c.bug }}</a>
							</th>
							<th>
								{{ c.last }}
							</th>
							<th>
								<b>{{ c.this }}</b>
							</th>
							<th>
								{{ c.next }}
							</th>
							<th>
								{% if c.trend == "rising" %}
									<b>{{ c.trend }}</b>
							  	{% else %}
									{{ c.trend }}
							  	{% endif %}
							</th>
						  </tr>
						  {% endfor %} 
						</tbody>
					  </table> 
				</div>
			</div>
		</div>
	</div>
	<div class="row"> <!-- Insects Row-->
		<div class="col-md-6"> <!-- Hatch card-->
			<div class="card border-0 bg-transparent">
				<h4 class="card-header">
					<b>Observed hatches</b>
				</h4>
				<div class="card-body">
					<p class="card-text">
						<table class="table table-striped table-hover">
							<thead>
							  <tr>
								<th scope="col">Insect</th>
								<th scope="col">Lake</th>
								<th scope="col">Temp</th>
								<th scope="col">Date</th>
							  </tr>
							</thead>
							<tbody>
							  {% for hatch in hatches %}
							  <tr>
								<td scope="row">
								  <a href="{% url 'bug_detail' hatch.bug.id %}">{{ hatch.bug.name | title  }} </a>
								</td>
								<td scope="row">
								  <a href="{% url 'lake_detail' hatch.lake.id %}">{{ hatch.lake.name | title  }} </a>
								</td>
								<td>{% if hatch.temp %}{{ hatch.temp.name }} {% endif %}</td>
								<td>{% if hatch.sight_date %} {{ hatch.sight_date | date:'D d M Y' }} {% endif %}</td>
							  </tr>
							  {% endfor %} 
							</tbody>
						  </table>
					</p>
				</div>
			</div>
		</div>
		<div class="col-md-6"> <!-- expected bugs card-->
			<div class="card border-0 bg-transparent">
				<h4 class="card-header">
					<b>Expected flys</b>
				</h4>
				<div class="card-body">
					<p class="card-text">
						<table class="table table-striped table-hover">
							<thead>
								<tr>
								<th scope="col">Fly name</th>
								<th scope="col">Log</th>
								<th scope="col">Hatch</th>
								<th scope="col">Chart</th>
								<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								{% for index, row in array.iterrows %}
								<tr>
									<th scope="row">
										<a href="{% url 'fly_detail' row.id %}"> <b>{{ row.name | title }}</b> </a>
									</th>
									<td>{{ row.log_total }}</th>
									<td>{{ row.hatch_total }}</th>
									<td>{{ row.chart }}</th>
									<td><b>{{ row.final_total }}</b></th>
								</tr>
								{% endfor %} 
							</tbody>
						</table>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}