{% extends "catches/base/base.html" %} 
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card">
				<h5 class="card-header">
					{{ region.name | title }}
				</h5>
				<p class="card-text">
					{{ region.notes }}
				</p>
				<div class="card-body"> <!-- lakes part-->
					<div class="row">
						<div class="col-md-12">
							<div class="card" >
								<div class="card-body" style="column-count: 1;">                                
									<ul class="list-unstyled card-columns" >
										{% for lake in lakes %}
											<li>
												<a href="{% url 'lake_detail' lake.id %}">{{ lake.name | title }}</a>
													{% if not lake.other_name == "" %} ({{ lake.other_name | title }}) {% endif %}
													{% if lake.favourite %}<i class="fas fa-check-circle"></i>{% endif %}
													({{ lake.num_of_stock }} )
											</li>
										{% endfor %} 
									</ul> 
								</div>
							</div>
						</div>
					</div>
				</div><!-- lakes part-->
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-8"> </div>
                        <div class="col-md-4">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'region_update' region.id %}" type="submit" >edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'region_delete' region.id %}" type="submit" >delete</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>
</div>
{% endblock content %}

