{% extends "catches/base/base.html" %} 
{% block title %}Region: {{ region.name | title }}{% endblock %}
{% block content %}
<div class="container">
	<div class="row"> <!--  Top card-->
		<div class="col-md-1"> </div>
		<div class="col-md-10"> 
			<div class="card border-0 bg-transparent">	
				<div class="card-header">
					<div class="row">
						<div class="col-md-1"></div> 
						<div class="col-md-4"> 
							<h5>
								Region: <b>{{ region.name | title }}</b>
							</h5>
						</div>
						<div class="col-md-6 text-end">
							Lakes in the region: <b>{{ region.lake_count }}</b>
						</div>
						<div class="col-md-1"></div> 
					</div>
					<hr>
					<div class="row">
						<div class="col-md-12">
							{% if user.is_authenticated %}
								<form method="post">
									{% csrf_token %}
									{{ form }}
									<input class="btn btn-primary btn-md mt-1 mb-1" type="submit" value="add">
								</form>
							{% endif %} 
						</div>
					</div>
				</div>
				{% if region.notes %}
					<div class="card-body">{{ region.notes }}</div>
				{% endif %}
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-8"> 
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'make_kml' region.id 'R' %}" type="submit" >
								<abbr title = "{{ region.kml_tooltip | safe }}">
									Make KML file
								</abbr>
							</a> 
							{% load static %}
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'kml_help' %}" target="_blank" >KML file help </a>
							<!-- This is how you make a download button: https://youtu.be/1x_ACMFzGYM?si=8xMlwoIQ4chCkhHV -->
						</div>
                        <div class="col-md-4 text-end">
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'region_create' %}" type="submit" >New region</a>
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'region_update' region.id %}" type="submit" >edit</a>
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'region_delete' region.id %}" type="submit" >delete</a>
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'lake_list' %}" type="submit" >back</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div> <!--  Top card-->
	<div class="row"> <!--  Bottom card-->
		<div class="col-md-1"> </div>
		<div class="col-md-10"> 
			<div class="container">   <!-- Lake list snippit.-->
				<table class="table table-striped table-hover">
					<tbody>
						<tr>
							<th>Lake</th>
							<th>Logs</th>
							<th>Hatches</th>
							<th>Stocks</th>
							<th></th>
						</tr>
						{% for lake in lakes %} 
							<tr>
								<td scope="row">   
									<a href="{% url 'lake_detail' lake.id %}" class="list-group-item">
										<!-- {{ lake.lake_info }} -->
										{{ lake.lake_full_name}}
										{% if lake.is_favourite %}
											<i class="fas fa-check-circle"></i>
										{% endif %}
									</a>
								</td>
								<td>
									{% if lake.log_set.count %}
										{{ lake.log_set.count }}
									{% endif %}
								</td>
								<td>
									{% if lake.num_of_hatch %}
										{{ lake.num_of_hatch }}
									{% endif %}
								</td>
								<td>
									{% if lake.num_of_stock %}
										{{ lake.num_of_stock }}
									{% endif %}
								</td>
								<td>  
									<div class="row">
										<div class=" col-md-1"></div>
										<div class=" col-md-5">
											<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'hatch_create_from_lake' pk=lake.id %}">Hatch at the lake</a>
										</div>
										<div class=" col-md-3">
											<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_create_from_lake' pk=lake.id %}">Catch log</a>
										</div>
										<div class=" col-md-3">
											<form action="{% url 'remove_lake_from_region' region.pk lake.pk %}" method="post">
												{% csrf_token %}
												<input type="hidden" name="lake"  value="{{ lake.pk }}">
												<button class="btn btn-outline-primary btn-md mt-1 mb-1" type="submit">Remove</button>
											</form> 
										</div>
									</div>
								</td>
							</tr>
						{% endfor %} 
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div> <!--  Bottom card-->
</div>
{% endblock content %}

{% for lake in region.lakes.all %}
    <p>{{ lake.name }}</p>
    <form action="{% url 'remove_lake_from_region' region.pk lake.pk %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="lake" value="{{ lake.pk }}">
        <button type="submit">Remove</button>
    </form>
{% endfor %}