{% extends "catches/base/base.html" %} 
{% block content %}
<div class="container">
	<div class="row"> <!--  Top card-->
		<div class="col-md-1"> </div>
		<div class="col-md-10"> 
			<div class="card border-0 bg-transparent">	
				<div class="card-header">
					<div class="row">
						<div class="col-md-1"></div>
						<div class="col-md-4"> 
							<h5>
								Region: <b>{{ region.name | title }}</b>
							</h5>
						</div>
						<div class="col-md-6 text-end">
							Lakes in the region: <b>{{ region.lake_count }}</b>
						</div>
						<div class="col-md-1"></div>
					</div>
				</div>
				{% if region.notes %}
					<div class="card-body">{{ region.notes }}</div>
				{% endif %}
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-8"> 
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'make_kml' region.id 'R' %}" type="submit" >Make KML file</a>
							<a class="btn btn-secondary btn-sm mt-1 mb-1" href='{{ MEDIA_URL }}/media/How to use the kml file.pdf' target="_blank" >KML file help </a>
							<!-- This is how you make a download button: https://youtu.be/1x_ACMFzGYM?si=8xMlwoIQ4chCkhHV -->
						</div>
                        <div class="col-md-4 text-end">
							<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'region_create' %}" type="submit" >New region</a>
							<a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'region_update' region.id %}" type="submit" >edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'region_delete' region.id %}" type="submit" >delete</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div> <!--  Top card-->
	<div class="row"> <!--  Bottom card-->
		<div class="col-md-1"> </div>
		<div class="col-md-10"> 
			{% include 'snippets/lake_list.html' %}
		</div>
		<div class="col-md-1"> </div>
	</div> <!--  Bottom card-->
</div>
{% endblock content %}