{% extends "catches/base/base.html" %}
{% block content %}

<h1>Stocking records of

</h1>    
<dl>
    {% for stock in stocks %}
        <p>
            On {{stock.date_stocked}}, 
            {{stock.number}}  
            <a href="{% url 'fish_detail' stock.fish.id %}">{{stock.fish.name}}</a>
            were {{stock.length}}cm long.
            (Strain: {{ stock.STRAIN }}
        </p>
    {% endfor %}
</dl>     

{% endblock content %}
<a href="{% url 'lakes_detail' stocks.first.lake.id %}">{{ stocks.first.lake.name }}</a>
<!-- 


 -->