{% extends "catches/base/base.html" %}
{% block content %}

    {% for stock in stocks %}
        <ul class="list-group">
            <li class="list-group-item">
                On <a href="{% url 'stock_detail' stock.id %}">{{stock.date_stocked}}</a>, 
                at <a href="{% url 'lake_detail' stock.lake.id %}">{{stock.lake.name}}</a>
                {{stock.number}}  
                <a href="{% url 'fish_detail' stock.fish.id %}">{{stock.fish.name}}</a>
                (Genotype: {{ stock.full_geno }}, Strain: {{ stock.full_strain }} )
                were {{stock.length}}cm ({{stock.inch}}") long.
            </li>
        </ul>
    {% endfor %}

{% endblock content %}