{% extends "catches/base/base.html" %}
{% block title %}Stocking list{% endblock %}
{% block content %}
    <div class="content-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Delete srock report: <h2>{{ object }}</h2></legend>
                            <h2> Are you sure? </h2>
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-outline-primary" type="submit">DELETE</button>
                            <a class="btn btn-primary" href="{% url 'stock_detail' object.id %}" >Cancel</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
{% endblock content %}
