{% extends "catches/base/base.html" %}
{% block content %}
<div class="container">
    <div class = "row">
        <div class="col-md-8">
            <h1>Fishing temperature groups</h1>
        </div>
        <div class="col-md-4">
        </div>
</div>

<div class="album py-5 ">
    <div class="container">
        <div class = "row">
            {% for temp in temps %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <div class = "row">
                        <div class="col-md-6">
                            <a href="{% url 'temp_detail' temp.id %}">
                                <b>{{ temp.name }}</b>
                            </a>
                        </div>
                        <div class="col-md-6">
                            {% if temp.notes %}{{ temp.notes | safe }}{% endif %} 
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Search keys:<b>{{ temp.search_keys }}</b></p>
                        <p class="card-text">Number of logs: <b>{{ temp.log_count }}</b></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}