{% extends "catches/base/base.html" %}
{% block title %}Temperature: {{ temp.name | title }}{% endblock %}
{% block content %}

<div class="container">
	<div class="row">  <!--   Top of page  -->
		<div class="col-md-12">
			<div class="card border-0 bg-transparent">
				<h5 class="card-header">
					{{ temp.name | title }}
				</h5>
				<div class="card-body">
					<p class="card-text">Temperature notes:<b>{{ temp.notes | safe }}</b></p>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-md-10   text-end">
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'log_create_from_temp' temp.id %}"><i class="bi bi-plus-circle-fill me-1"></i>New log</a>
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'temp_update' temp.id %}"><i class="bi bi-pencil-fill me-1"></i>Edit notes</a>
							<button class="btn btn-primary btn-md mt-1 mb-1" onclick="window.history.back()"><i class="bi bi-arrow-left-circle-fill me-1"></i>Back</button>
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row mb-3"><!-- Bottom card-->
		<div class="col-md-12">
			<div class="row">
				<div class="col-12"><!-- Nav tabs -->
					<ul class="nav nav-tabs" style="font-size: 1.05rem;">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab"  
							href="#LOGS"><b><i class="bi bi-journal-bookmark-fill me-1"></i>Fishing Logs</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" 
							href="#HATCH"><b><i class="bi bi-bug-fill me-1"></i>Hatch</b></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" 
							href="#WEEK"><b><i class="bi bi-calendar-event-fill me-1"></i>Weeks</b></a>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12  ">               <!-- Tab panes -->
					<div class="tab-content ">
						<div class="tab-pane container active" id="LOGS">
							{% include 'snippets/log_tab.html' %}
						</div>
						<div class="tab-pane container fade" id="HATCH">
							{% include 'snippets/hatch_tab.html' %}
						</div>    
						<div class="tab-pane container fade" id="WEEK">
							{% include 'snippets/weeks_tab.html' %}
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div><!-- Bottom card-->
</div>

{% endblock content %}