{% extends "catches/base/base.html" %}
{% block content %}

<div class="container">
	<div class="row">  <!--   Top of page  -->
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card">
				<h5 class="card-header">
					{{ temp.name | title }}
				</h5>
				<div class="card-body">
					<p class="card-text">Temperature notes: <b>{{ temp.notes | safe }}</b></p>
					<p class="card-text">Search keys:<b>{{ temp.search_keys }}</b></p>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-md-7"> </div>
						<div class="col-md-3   text-right">
							<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'log_create_from_temp' temp.id %}">New log</a>
							<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'temp_update' temp.id %}" type="submit" >edit</a>
							<a class="btn btn-primary btn-sm mt-1 mb-1" href="{% url 'temp_delete' temp.id %}" type="submit" >delete</a>
						</div>
						<div class="col-md-1">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>

	<div class="row mb-3"><!-- Bottom card-->
		<div class="col-md-1 "></div>
		<div class="col-md-10">
			<div class="row">
				<h5 class="col-12"><!-- Nav tabs -->
					<ul class="nav nav-tabs ">
						<li class="nav-item">
							<a class="nav-link active" data-toggle="tab"  
							href="#LOGS">Fishing Logs</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" 
							href="#HATCH">Hatch</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" data-toggle="tab" 
							href="#WEEK">Weeks</a>
						</li>
					</ul>
				</h5>
			</div>

			<div class="row">
				<div class="col-md-12  ">               <!-- Tab panes -->
					<div class="tab-content ">
						<div class="tab-pane container active" id="LOGS">
							{% include 'snippets/log_tab.html' %}
						</div>
						<div class="tab-pane container fade" id="HATCH">
							{% include 'snippets/hatch_tab.html' %}
						</div>    
						<div class="tab-pane container fade" id="WEEK">
							{% include 'snippets/weeks_tab.html' %}
						</div> 
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-1"></div>
	</div><!-- Bottom card-->
</div>

{% endblock content %}