{% extends "catches/base/base.html" %}
{% block content %}
<h1>Fishing videos</h1>    
<div class="album py-5 ">
    <div class="container">
        <div class = "row">
            {% for vids in videos %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <a href="{% url 'video_detail' vids.id %}" class="card-link">{{ vids.name}} </a>
                    <div class="card-body">
                        <p class="card-text">{{ vids.notes }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class = "row">
        <button type="button" class="btn btn-primary">
            <a href="#">New video</a>
        </button>
    </div>
</div>
{% endblock content %}