{% extends "catches/base/base.html" %}
{% block title %}Videos{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-1"> </div>
    <div class="col-md-10">
        <h1 class="h3">Videos</h1>
        {% include 'snippets/video_list.html' %}

        <div class="row">
            <div class="col-md-8"> </div>
            <div class="col-md-4">
                <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'video_create' %}" type="submit" >new</a>
                <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'catch_home' %}" type="submit" >home</a>
                <button class="btn btn-primary btn-md mt-1 mb-1" onclick="window.history.back()">back</button>
            </div>
        </div>
    </div>
    <div class="col-md-1"> </div>
</div>
{% endblock content %}
