{% extends "catches/base/base.html" %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card">
				<h5 class="card-header">
					<div class="row">
						<div class="col-md-7">
							{{ videos.name | title }}
						</div>
						<div class="col-md-5">
							by <b>{{ videos.author | title }}</b>
						</div>
					</div>
					<div class="row">
						<div class="col-md-7">
						</div>
						<div class="col-md-5">
							stored <b>{{ videos.date_added }}</b>
						</div>
					</div>
				</h5>
				<p class="card-text">
					{{ videos.notes }}
				</p>
				<p class="card-text">
					tags
					{% for t in videos.tag.all %}
						<b>{{ t.name }}</b>
					{% endfor %}	
				</p>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-8"> 
							<a href="{{ videos.url }}" target="_blank" >Youtube link</a>
						</div>
                        <div class="col-md-4">
                            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'video_update' videos.id %}" type="submit" >edit</a>
                            <a class="btn btn-danger btn-sm mt-1 mb-1" href="#" type="submit" >delete</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>
</div>
{% endblock content %}

tag = models.ManyToManyField(Tag)
