{% extends "catches/base/base.html" %}
{% block title %}New video{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    <form method="post" novalidate>
      {% for hidden_field in form.hidden_fields %}
          {{ hidden_field.error }}
          {{ hidden_field }}
      {% endfor %}
      {% csrf_token %}
      <div class="container">
        <div class="row">
          <div class="col-1"> </div>
          <div class="col-4">
            {{ form.name|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.snippet|as_crispy_field }}
          </div>
          <div class="col-1"> </div>
        </div>
        <div class="row">
          <div class="col-1"> </div>
          <div class="col-3">
            {{ form.author|as_crispy_field }}
          </div>
          <div class="col-7">
            {{ form.url|as_crispy_field }}
          </div>
          <div class="col-1"> </div>
        </div>
          <div class="col-1"> </div>
        <div class="row">
          <div class="col-1"> </div>
          <div class="col-10">
            {{ form.notes|as_crispy_field }}
          </div>
          <div class="col-1"> </div>
        </div>
        <div class="row">
          <div class="col-2"> </div>
            <div class="col-4">
              {{ form.tags|as_crispy_field }}
            </div>
          <div class="col-2"> </div>
          <div class="col-4">
            <button type="submit" class="btn btn-primary mt-4">Save video</button>
            <button class="btn btn-primary btn-sm mt-4" onclick="window.history.back()">back</button>
          </div>
        </div>
      </div>
    </form>
{% endblock content %}
