{% extends "catches/base/base.html" %}
{% block title %}Video:{{ video.name }}{% endblock %}

{% block content %}
  
<div class="container">
	<div class="row">
		<div class="col-md-1"> </div>
		<div class="col-md-10">
			<div class="card border-0 bg-transparent">
				<h5 class="card-header">
					{{ video.name | title }}
				</h5>
				<div class="card-body">
					<p>
						{{ video.notes | safe }}
					</p>
					<p>
						Tags: <b>{{ video.tag_list }}</b>
					</p>
				</div>
				<div class="card-footer">
					<div class="row">
                        <div class="col-md-3"> 
							Author: {{ video.author | title}}
						</div>
                        <div class="col-md-3">
							<a href="{{ video.url }}" target="_blank" >Youtube link</a>
						</div>
                        <div class="col-md-3">
                            {{ video.date_added }}
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'video_update' video.id %}" type="submit" >edit</a>
                            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'video_delete' video.id %}" type="submit" >delete</a>
							<a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'video_create' %}" type="submit" >new</a>
                        </div>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-1"> </div>
	</div>
{% endblock content %}
