{% extends "catches/base/base.html" %}
{% load static %}
{% load catches_tags %}
{% block content %}

<div class="container">
  <div class="row">  <!-- Current conditions-->

    <div class="col">  <!-- Temperature-->
      <div class="card border-1 bg-transparent">
        <div class="card-body">
          <p class="card-text text-center">
            Temperature: <b>{{ current.temp }}&#8451;</b> or feels like <b>{{ current.feels_like }}&#8451;</b>
          </p>
          <p class="card-text text-center">
            Pressure: <b>{{ current.pressure }}kPa</b>    Humidity: <b>{{ current.humidity}}%</b>
          </p>
        </div>
      </div>
    </div>

    <div class="col">  <!-- Cloud-->
      <div class="card border-1 bg-transparent">
        <div class="card-body">
          <p class="card-text text-center">
            Cloud cover: <b>{{ current.clouds }}% {{ current.description }}</b>
          </p>
          <p class="card-text text-center">
            Sunrise: <b>{{ current.sunrise }}</b> and Sunset: <b>{{ current.sunset }}</b>
          </p>
        </div>
      </div>
    </div>

    <div class="col">  <!-- Wind-->
      <div class="card border-1 bg-transparent">
        <div class="card-body">
          <p class="card-text text-center">
            Wind is: <b>{{ current.wind_speed }}km</b> from the <b>{{ current.wind_direction }} ({{ current.wind_deg }}&deg;)</b>
          </p>
          <p class="card-text text-center">
              Gusting to: <b>{{ current.wind_gust }}km</b>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">  <!-- Temp graph-->
  
      <div class="col">
        <div class="card border-1 bg-transparent">
          <div class="card-body">
            <div class="container">
              {{ temp_graph | safe }}
            </div>
          </div>
        </div>
      </div>

  </div>
</div>

{% endblock content %}