{% extends "catches/base/base.html" %}
{% block content %}   
    <div class="album py-5 ">
        <div class="container">
            <div class = "row">
                <div class="col-4">
                    <h3>Fishing logs - by week</h3>
                </div> 
                <div class="col-5">
                    <form class="form-inline my-2 my-lg-0 ml-md-auto" action="{% url 'log_search_list' %}" method="get">
                        {% csrf_token %}
                        <input class="form-control me-2" name="q" type="search" placeholder="Water Temp search">
                </div>
                <div class="col-2">
                    <button class="btn btn-primary" type="submit">Search</button>
                </div> 
                    </form>
                <div class="col-1"></div> 
            </div>
            <div class = "row">
                {% for week in weeks %}
                    <div class="col-md-3">
                        <div class="card mb-4 bg-transparent"> 
                            <div class="card-header">
                                <div class = "row">
                                    <div class="col-md-6 text-start">
                                        <a href="{% url 'week_detail' week.id %}">Week : <b>#{{ week.number }}</b></a>
                                    </div>
                                    <div class="col-md-6 text-end">
                                        {{ week.dates_in_week.start_date }} - {{ week.dates_in_week.end_date }}
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6 text-start">
                                        log count: {{ week.log_count }}
                                    </div>
                                    <div class="col-md-6 text-end">
                                        hatch count: {{ week.hatch_count }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}