{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
 
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <!-- Themes are from https://bootstrap.themes.guide/ -->
    <link rel="stylesheet" type="text/css" href="{% static 'catches/site/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'catches/site/favicon.png' %}" >
</head> 
<style>
    body { 
        padding-bottom: 65px; 
        padding-top: 65px; 
    }
</style>

<body>
    <!-- Fixed navbar -->
    {% include "catches/base/navbar.html" %}

    <!-- Begin page content -->
    <main role="main" class="container-fluid">
        <!-- messages -->
        {% include "catches/base/message.html" %}
        {% block content %}
        {% endblock %}
        {% include 'catches/base/pagein.html' %} 
    </main>

    <!-- Stick footer -->
    <footer class="footer">
        <nav class="navbar navbar-dark fixed-bottom bg-dark">
            <div class="container-fluid">
                <div class="col-md-2 "></div>
                <div class="col-md-2 ">
                    <span class="navbar-text">
                        <h5>Where water temp is king</h5>
                    </span>
                </div>
                <div class="col-md-5">
                    <span class="navbar-text">
                        {% if messages %}
                            <div class="alert alert-primary" role="alert">
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </span>
                </div>
                <div class="col-md-1">
                    <span class="navbar-text">
                        <p>&copy 2024</p>
                    </span>
                </div>
                <div class="col-md-1">
                    <!-- Instagram -->
                    <a href="http://instagram.com/_u/edmontonflyfisherman/" target="_blank">
                        <img src="{% static 'catches/site/instagram_logo.svg' %}" alt="Instagram" width="35" height="35" class="d-inline-block">
                    </a>
                </div>
                <div class="col-md-1 "></div>
            </div>
        </nav>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</body>  
</html>