<div class="alert alert-dark" role="alert">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                {% if 'catches.view_lake' in perms %}
                The next trip will be to: <a href="{% url 'lake_detail' first_slide.lake.id %}"><b>{{ first_slide.lake.name | title }}</b></a> {{ first_slide.plan | safe }}
                {% else %}
                    Login to see next trip plan.
                {% endif %}
            </div>
            <div class="carousel-item">
                {{ second_slide | safe }}
            </div>
            <div class="carousel-item">
                {{ third_slide | safe }}
            </div>
        </div>
    </div>
</div>