{% load tz %}
<!-- messages -->
<div class="row pt-3">
	<div class="col-9 mx-auto">
		<div class="alert alert-primary" role="alert">
			<!-- Please note that nothing will be saved on this site while it is being upgraded |    |  As the site is upgraded it will be documented in blogs -->
			{% if messages %}
				<ul class="messages">
					{% for message in messages %}
					<li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
					{% endfor %}
				</ul>
			{% endif %}
		</div>
	</div>
	<div class="col-2 mx-auto">
		<p class="text-center">
			{% timezone "America/Edmonton" %} {% now "D, M j, y - P " %} {% endtimezone %}
		</p>
	</div>
	<div class="col-1 mx-auto">
		<p class="text-center ">
			<a href="{% url 'week_list' %}">
				<b>{% timezone "America/Edmonton" %} Week:{% now "W" %} {% endtimezone %}</b>
			</a>
		</p>
	</div>
</div>
