{% load static %} 
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="{% url 'catch_home' %}">
        <img src="{% static 'catches/site/fly_image.jpg' %}" alt="FLY" width="45" height="36" class="d-inline-block align-text-top">
    </a>

    <span class="navbar-text">
        <h2>
            Fishing Logs

        </h2>
    </span>

    <form class="form-inline my-2 my-lg-0 ml-md-auto" action="{% url 'search_list' %}" method="get">
        <input class="form-control mr-sm-2" name="q" type="search" placeholder="search">
        <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
    </form> 

    <!-- Navbar Right Side -->
    <div class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'profile' %}">{{ user.username }}</a>
            <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
            <a class="nav-item nav-link" href="{% url 'admin:index' %}">ADMIN</a>
        {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <!-- <a class="nav-item nav-link" href="{% url 'register' %}">Register</a> -->
        {% endif %}
    </div>

</nav>