{% load static %}   
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="{% url 'catch_home' %}"><img src="{% static 'catches/site/fly_image.jpg' %}" alt="FLY" width="45" height="36" class="d-inline-block align-text-top">
            Fishing Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <div class="btn-group">
                <button type="button" class="btn btn-primary">Lakes</button>
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#">New Lake</a>
                  <a class="dropdown-item" href="#">Favorites</a>
                  <a class="dropdown-item" href="#">Regions</a>
                  <a class="dropdown-item" href="#">Districts</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Stocks</a>
                </div>
              </div>
            <a class="nav-item nav-link" href="#">Fish</a>
            <a class="nav-item nav-link" href="#">Flys</a>
            <a class="nav-item nav-link" href="#">Bugs</a>
            <a class="nav-item nav-link" href="{% url 'blog-home' %}">Blog</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            <form class="form-inline my-2 my-lg-0 ml-md-auto" action="#" method="get">
                <input class="form-control mr-sm-2" name="q" type="search" placeholder="Lake search">
                <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
            {% if user.is_authenticated %}
              <a class="nav-item nav-link" href="#">Profile</a>
              <a class="nav-item nav-link" href="#">Logout</a>
              <a class="nav-item nav-link" href="{% url 'admin:index' %}">ADMIN</a>
            {% else %}
              <a class="nav-item nav-link" href="#">Login</a>
              <a class="nav-item nav-link" href="#">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header>