{% extends "catches/base/base.html" %}
{% block title %}Not Authorized{% endblock %}
{% load tz %}

{% block content %}
<div class="container">
	<div class="row">
        <h2 class="text-center">
            Sorry, but you don't have access to that operation. 
        </h2>
    </div>
	<div class="row">
        <h5>
             If you would like to contribute temperature readings, logs and hatches to this website, then send me a message and I will add you.
        </h5>
    </div>
	<div class="row">
        <div class="col-md-4 text-end">
            <a class="btn btn-primary btn-md mt-1 mb-1" href="{% url 'catch_home' %}" type="submit" >HOME</a>
        </div>
        <div class="col-md-4"></div>
        <div class="col-md-4 text-start">
            <button class="btn btn-primary btn-md mt-1 mb-1" onclick="window.history.back()">BACK</button>
        </div>
    </div>
</div>

{% endblock content %}