:root {
  /* colours */
  --cool_grey:  #A3C3BF;   /* background */
  --dusty_teal: #4C9C8F;   /* buttons */
  --grey_teal: #578D7F;   /* button hovers */
  --navy_blue: #0C1446;   /* headers */
  --navy_blue_l: #161B4E;   /* headers sub */
  --stormy_blue: #175873;   /* links */
  --deep_aqua: #2B7C85;   /* hovers */
  --grey_blue: #5F788A;   /* text muted */
  --greyish_teal: #87ACA3;   /* text muted */

  /* uses */
  --back_ground: var(--cool_grey); 
  --main_text: black;
  --link: var(--stormy_blue);
  --link_hover: var(--deep_aqua);
  --button: var(--dusty_teal);
  --button_hover: var(--grey_teal);
}

body {
  background: var(--back_ground);
  color: var(--main_text);
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--main_text);
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link_hover);
  text-decoration: none;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: var(--back_ground);
}

.site-header .navbar-nav .nav-link {
  color: var(--link);
}

.site-header .navbar-nav .nav-link:hover {
  color: var(--link_hover);
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: var(--back_ground);
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--back_ground);
    border-color: var(--back_ground);
    color: var(--link);
    box-shadow: none !important;
}

.btn-primary:hover {
  background-color: var(--button_hover);
  border-color: var(--button_hover);
  color: var(--link_hover);
}
/* https://www.freecodecamp.org/news/a-quick-guide-to-styling-buttons-using-css-f64d4f96337f/ */
.dropdown-toggle,
.dropdown-toggle:active,
.dropdown-toggle:visited,
.dropdown-toggle:focus {
  background-color: var(--back_ground);
  border-color: var(--back_ground);
  color: var(--link);
}

.dropdown-toggle:hover {
    background-color: var(--button_hover);
    border-color: var(--button_hover);
    color: var(--link_hover);
}

.card {
  background-color: var(--back_ground);
 }

.card-header {
  background-color: #5f788a; 
}

.card-footer {
  background-color: #5f788a; 
}
