<!-- article tab - start -->
<div class="album py-1 ">
    <div class="container">
        <div class = "row">
            {% if article_list %}
            <ul class="list-group">
                {% for article in article_list %}
                    <li class="list-group-item">
                        <a class="text-reset" href="{% url 'article_detail' article.id %}">
                            {{ article }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no article to display</p>
        {% endif %}
        </div>
    </div>
</div>
<!-- article tab - end -->
