<!-- picure tab - start -->
<div class="album py-1 ">
    <div class="container">
        <div class = "row">
            {% if picure_list %}
            <ul class="list-group">
                {% for picure in picure_list %}
                    <li class="list-group-item">
                        <a class="text-reset" href="{% url 'picure_detail' picure.id %}">
                            {{ picure }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no picures to display</p>
        {% endif %}
        </div>
    </div>
</div>
<!-- picure tab - end -->
