<!-- video tab - start -->
<div class="album py-1 ">
    <div class="container">
        <div class = "row">
            {% if videos %}
            <ul class="list-group">
                {% for video in videos %}
                    <li class="list-group-item">
                        <a class="text-reset" href="{% url 'video_detail' video.id %}">
                            {{ video }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no videos to display</p>
        {% endif %}
        </div>
    </div>
</div>
<!-- video tab - end -->
