<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-7">
                <h5>
                    {{ lake.lake_info | title  }}{% if lake.favourite %}<i class="fas fa-check-circle"></i>{% endif %}
                </h5>
            </div>
            <div class="col-5 text-right">
                {% if not lake.region == "" %} 
                    Region: <a href="{% url 'lakes-list_reg' lake.region %}">{{ lake.region | title }}</a> 
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body"> 
        <div class="row">
            <div class="col-3">
                {% if not lake.district == "" %} District: <b>{{ lake.district | title  }}</b> {% endif %}
            </div>
            <div class="col-3">
                Location: <b> {{ lake.ats }}</b>
            </div>
            <div class="col-3">
                {% if not lake.lat == None %} 
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="https://www.google.com/maps/search/?api=1&query={{ lake.lat }},{{ lake.long }}" target="_blank" type="submit" >map</a>
                {% endif %}
                <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'lakes-update' object.id %}" type="submit" >edit</a>
                <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'lakes-delete' object.id %}" type="submit" >delete</a>
            </div>
            <div class="col-3 text-right">
                {% if not lake.waterbody_id == None %} Waterbody ID: <b>{{ lake.waterbody_id }} </b>{% endif %}
            </div>
        </div>
    </div>
</div>