<table class="table table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Snippit</th>
        <th scope="col">Date</th>
        <th scope="col">tags</th>
        <th scope="col">File</th>
      </tr>
    </thead>
    <tbody>
    {% for article in articles_list %}
      <tr>
            <th scope="row">
                <a class="text-reset" href="{% url 'article_detail' article.id %}">{{ article.name | title }} </a>
            </th>
            <td>{{ article.author | title }}</th>
            <td>{{ article.snippet }}</th>
            <td>{{ article.date_added }}</th>
            <td>{{ article.tag_list }}</th>
            <td><a href = /media/{{ article.file }} download>{{ article.file }}</a></th>
      </tr>
    {% endfor %} 
    </tbody>
  </table>