    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col"><h4>Insect</h4></th>
            <th scope="col"><h4>Last week</h4></th>
            <th scope="col"><h4><b>This week</b></h4></th>
            <th scope="col"><h4>Next week</h4></th>
            <th scope="col"><h4>Trend</h4></th>
          </tr>
        </thead>
        <tbody>
          {% for c in chart_for_weeks %}
          <tr>
            <th scope="row">
                <h5>{{ c.bug }}</h5>
            </th>
            <th>
              <h5>{{ c.last }}</h5>
            </th>
            <th>
                <h5><b>{{ c.this }}</b></h5>
            </th>
            <th>
              <h5>{{ c.next }}</h5>
            </th>
            <th>
              {% if c.trend == "rising" %}
                <h5><b>{{ c.trend }}</b></h5>
              {% else %}
                <h5>{{ c.trend }}</h5>
              {% endif %}
            </th>
          </tr>
          {% endfor %} 
        </tbody>
      </table>