<div class="row mt-2">
  <div class="col-md-1"></div>      
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6">{% if lake.ats %} Location: <b> {{ lake.ats }}</b> {% endif %}</div>      
      <div class="col-md-6">{% if not lake.waterbody_id == None %} Government of Alberta waterbody ID: <b>{{ lake.waterbody_id }} </b>{% endif %}</div> 
    </div>

    <div class="row">
      <div class="col-md-6">{% if lake.long %} Longitute: <b> {{ lake.long |floatformat:8 }}</b> {% endif %}</div>      
      <div class="col-md-6">{% if lake.long %} Latitute: <b> {{ lake.lat |floatformat:8 }}</b> {% endif %}</div> 
    </div>
  </div>
  <div class="col-md-1"></div> 
</div> 
<hr>

<div class="row mt-2">
  <div class="col-md-1"></div>      
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">5 hour forcast</th>
              <th scope="col">Conditions</th>
              <th scope="col">Temperature</th>
              <th scope="col">PoP</th>
            </tr>
          </thead>
          <tbody>
            {% for hour in forecast%}
              <tr>
                <td scope="row">
                  {{ hour.fore_time }} 
                </td>
                <td scope="row">
                  <img src="https://meteo.gc.ca/weathericons/{{ hour.icon }}.gif" >  {{ hour.conditions }}
                </td>
                <td>
                  {{ hour.temperature }}&#8451;
                </td>
                <td>
                  {{ hour.pop }}%
                </td>
              </tr>
            {% endfor %} 
          </tbody>
        </table>
      </div>     
    </div>  
  </div>
  <div class="col-md-1"></div> 
</div> 

<div class = "row">
    {% for picture in pictures_list_bath %}
        <div class="col-md-6">
            <div class="card mb-4 box-shadow">
                <a href="{% url 'picture_detail' picture.id %}" >
                    <img src="{{ picture.image.url }}" class="img-thumbnail"style="width:75%" >
                </a>
                <div class="card-body">
                    <p class="card-text">{{ picture.name | title }}, 
                        {% if picture.snippet %}{{ picture.snippet }}, {% endif %}
                        date added: {{ picture.date_added }}, 
                        tags: {{ picture.tag_list }} 
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

