{% load tz %}
<!-- log tab - start -->
<div class="album py-1 "> 
    <div class = "row">
        {% for log in logs %}
            <div class="col-md-6">
                <div class="card mb-4 border-1 bg-transparent">
                    <div class="card-header">
                        <div class = "row">
                            <div class="col-md-8 text-start">
                                <a href="{% url 'lake_detail' log.lake.id %}">{{log.lake.name | title }}</a>
                            </div>
                            <div class="col-md-4 text-end">
                                <a href="{% url 'log_detail' log.id%}"><b>{{ log.catch_date|date:"D, N j, y" }}</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h6>
                            {% if log.fish %}
                                Fish: <a href="{% url 'fish_detail' log.fish.id %}"><b>{{ log.fish_info | title}}</a>  </b>
                            {% endif %}
                        </h6>
                        <h6>
                            {% if log.fly %}
                                Fly: <a href="{% url 'fly_detail' log.fly.id %}"><b>{{ log.fly_info | title}}</a>  </b>
                            {% endif %}
                        </h6>
                        <p class="card-text">
                            {% if log.notes %}<p>{{ log.notes | safe }}</p>{% endif %}
                        </p>
                    </div>
                    <div class="card-footer">
                        {% if model == "fish" or "weeks" %}
                            <div class = "row">
                                <div class="col-md-5 text-start">
                                    Water temp: <b>{{ log.temp.name }}</b>
                                </div>
                                <div class="col-md-3">
                                    <a href="{% url 'week_detail' log.week.id %}">Week: <b>{{ log.week.number }}</b></a>
                                </div>
                                <div class="col-md-4 text-end">
                                    Angler: {{ log.angler | title }}{% if log.private %}<i class="fas fa-eye-slash"></i>{% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-12 text-end">
                                Angler: {{ log.angler | title }}{% if log.private %}<i class="fas fa-eye-slash"></i>{% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<!-- log tab - end -->