{% load tz %}
<!-- log tab - start -->
<div class="album py-1 ">
    <div class="container">
        <div class = "row">
            {% for log in logs %}
                <div class="col-md-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div class="row">
                                    <div class="col-6">
                                        Water temp: <b>{{ log.temp.name }}</b>
                                    </div>
                                    <div class="col-6">
                                        <a href="{% url 'log_detail' log.id%}"><b>{{ log.catch_date|date:"D, N j, y" }}</a></b>
                                        Week:{{ log.week }}
                                    </div>
                                </div>
                            </h5>
                            <h6>
                                {% if log.fish %}
                                    Fish: <a href="{% url 'fish_detail' log.fish.id %}"><b>{{ log.fish_info | title}}</a>  </b>
                                {% endif %}
                            </h6>
                            <h6>
                                {% if log.fly %}
                                    Fly: <a href="{% url 'fly_detail' log.fly.id %}"><b>{{ log.fly_info | title}}</a>  </b>
                                {% endif %}
                            </h6>
                            <p class="card-text">
                                {% if log.notes %}<p>Notes: {{ log.notes }}</p>{% endif %}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- log tab - end -->