    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Date</th>
            {% if model == "fish" %}
              <th scope="col">Lake</th>
            {% else %}
              <th scope="col">Fish</th>
            {% endif %}
            <th scope="col">Number</th>
            <th scope="col">Genotype</th>
            <th scope="col">Strain</th>
            <th scope="col">Length</th>
          </tr>
        </thead>
        <tbody>
            {% for s in subts %}
            <tr>
              {% for stock in stockings %}
              <tr>
                {% if stock.date_stocked.year == s.year %}
                  <th scope="row"><a href="{% url 'stock_detail' stock.id %}">{{stock.date_stocked}}</a></th>
                  {% if model == "fish" %}
                    <td>
                      <a href="{% url 'lake_detail' stock.lake.id %}">{{stock.lake.name | title }}</a>  
                      {% if stock.lake.is_favorite_ %} <i class="fas fa-check-circle"></i>{% endif %}
                      (<a href="{% url 'lake_list_dist' stock.lake.district %}"> {{ stock.lake.dist_name | title  }}</a>)
                    </td>
                  {% else %}
                    <td><a href="{% url 'fish_detail' stock.fish.id %}">{{stock.fish.name | title }}</a></td>
                  {% endif %}
                  <td>{{ stock.number }}</td>
                  <td> 
                    {% if stock.gentotype %}
                      <abbr title = "{{ stock.geno_tooltip | safe }}">
                        {{ stock.full_geno }}
                      </abbr>
                    {% endif %}
                  </td>
                  <td>
                    {% if stock.strain %}
                      <abbr title = "{{ stock.strain_tooltip | safe }}">
                        {{ stock.full_strain }}
                      </abbr>
                    {% endif %}
                  </td>
                  <td>{{ stock.length }}cm ({{ stock.inch }}")</td>
                {% endif %}
              </tr>
              {% endfor %} 
              <td></td>
              <th scope="row">{{ s.year|stringformat:"d"}}</th>
              <td><b>{{ s.subt }}</b></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            {% endfor %} 
          </tbody>
        </table>