    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Temperature</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody> 
          {% for temp in temps %}
          <tr>
            <td scope="row">
              {{ temp.temp_name  }}             
            </td>
            <td scope="row">
              {{ temp.date  }}  
            </td>
            <td>
            </td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>