    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Temperature</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody> 
          {% for temp in temps %}
          <tr>
            <td scope="row">
              <b>{{ temp.name  }}</b>
              
            </td>
            <td scope="row">
            </td>
            <td>
              
            </td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>