    <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Type</th>
            <th scope="col">Week</th>
            <th scope="col">Log or Hatch date</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody> 
          {% for week in weeks %}
          <tr>
            <td scope="row">  
              {% if week.type == "L"  %}
                <a href="{% url 'log_detail' week.log %}"><b>Log</b></a>
              {% endif %}   
              {% if week.type == "H"  %}
              <a href="{% url 'hatch_detail' week.log %}"><b>Hatch</b></a>
              {% endif %}  
            </td>
            <td>
              <a href="{% url 'week_detail' week.week_id %}"> {{ week.week  }} </a>          
            </td>
            <td>
              {% if week.type == "L"  %}
                <a href="{% url 'log_detail' week.log %}">{{ week.date  }} </a>
              {% endif %}   
              {% if week.type == "H"  %}
                <a href="{% url 'hatch_detail' week.log %}">{{ week.date  }} </a>
              {% endif %}
            </td>
            <td>
            </td>
          </tr>
          {% endfor %} 
        </tbody>
      </table> 