<!DOCTYPE html>
<html>
  <head>
    <style>
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th, td {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 40px;
      }
      tr:nth-child(even) {
        background-color: #D6EEEE;
      }
    </style>
  </head>
<body>

<table>
    <tr>
        <th> ID </th>
        <th> Name </th>
        <th> Jersey </th>
        <th> Position </th>
    </tr>
      {% for row in people.itertuples %}
        <tr>
            <td> {{ row }} </td>

        </tr>
      {% endfor %}
  </table>